<link rel="import" href="../../bower_components/polymer/polymer.html">
<script type="text/javascript" src="../../bower_components/highcharts/highcharts.js"></script>
<link rel="import" href="../../bower_components/px-context-browser/px-context-browser.html">
<link rel="import" href="../../bower_components/px-deck-selector/px-deck-selector.html">
<script type="text/javascript" src="../../bower_components/moment/moment.js"></script>
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="./styles/dashboards-view-styles.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown.html" />
<!--<link rel="import" href="../../bower_components/highcharts-chart/highcharts-chart.html">-->
<!-- local px-deck -->
<link rel="import" href="../../elements/px-deck/px-deck-index.html">
<dom-module id="dashboards-view">
  <template>
    <script type="text/javascript" src="../../bower_components/es6-promise/es6-promise.min.js"></script>
    <style include="dashboards-view-styles">
      .modal-container {
        /*height: calc(100vh - 200px);*/
        background-color: white;
        margin: 15px 0;
        border-radius: 5px;
      }
      
      .container {
        min-height: calc(100vh - 170px);
      }
      
      .header {
        height: 70px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: #3e87e8;
        color: white;
        padding: 10px 45px;
      }
      
      .header .header-sub-title {
        height: 25px;
      }
      
      .header .header-title {
        height: 45px;
        font-size: 1.5em;
      }
      
      .modal-toolbar {
        padding: 10px 45px;
        margin: 0;
        border-bottom: 1px solid whitesmoke;
      }
      
      .item-option {
        margin-right: 20px;
      }
      
      .item-option input {
        margin-right: 5px;
        vertical-align: middle;
      }
      
      .item-option label {
        font-weight: 500;
      }
      
      .statistic-container {
        margin: 0;
        padding: 10px 0;
      }
      
      .circle-container {
        width: 90px;
        margin: auto;
      }
      
      .chart-container>div {
        margin: 30px 0 0;
        height: 400px;
      }

      .active {
        color: #60bd68;
      }
      
       :host {
        --px-dropdown-bg-color--default: $white;
        --px-dropdown-border-color: $white;
        --px-dropdown-bg-color--hover: $white;
        --px-dropdown-bg-color--opened: $white;
        --px-dropdown-content-background-color: $white;
        --px-dropdown-content-border-color: whitesmoke;
        --px-dropdown-content-margin: 10px;
      }

    </style>
    <iron-ajax id="getData" auto url="/predix-api/predix-timeseries/v1/datapoints" method="POST" content-type="application/json"
      body="{{_paramGenerator('lastMonth')}}" loading="{{loading2d}}" handle-as="json" on-response="_handleData"></iron-ajax>
    <div class="container">
      <div class="modal-container">
        <div class="header">
          <div class="header-sub-title">
            <div style="float: left; line-height: 25px;">{{_getToday()}}</div>
            <div style="float: right; line-height: 25px;"><i class="fa fa-refresh"></i></div>
          </div>
          <div class="header-title layout">
            <div class="layout__item u-1/3"></div>
            <div class="layout__item u-1/3" style="text-align: center; line-height: 5px;">Total Consumption</div>
            <div class="layout__item u-1/3" style="text-align: right; line-height: 33px; font-size: initial;"></div>
          </div>
        </div>
        <div class="modal-toolbar layout">
          <div class="layout__item u-1/2" style="padding-top: 5px; color: #e2e8ed;">
            <!--<div class="layout" style="line-height: 30.97px;">
              <div class="item-option">
                <label><input type="checkbox" value="">Electricity</label>
              </div>
              <div class="item-option">
                <label><input type="checkbox" value="">Gas</label>
              </div>
              <div class="item-option">
                <label><input type="checkbox" value="">Total</label>
              </div>
            </div>-->
            <div style="display: inline-block; height: 100%; vertical-align: middle; margin-right: 10px;"><i class$="{{_computeClass('cost', mode)}}" aria-hidden="true"></i></div>
            <input id="switchBtn" type="checkbox" class="toggle__input toggle__input--small">
            <label on-tap="_switchMode" style="display: inline-block; margin: 0; margin-right: 10px;" for="switchBtn" class="toggle__label toggle__label--small">
            </label>
            <div style="display: inline-block; height: 100%; vertical-align: middle; margin-right: 10px;"><i class$="{{_computeClass('total', mode)}}" aria-hidden="true"></i></div>
          </div>
          <div class="layout__item u-1/2" style="text-align: right;">
            <div style="width: 100px; float: right;">
              <px-dropdown display-value="Last Month">
                <px-dropdown-content class="px-dropdown-content" max-cont-character-width="10" extend-dropdown="true" extend-dropdown-by="15"
                  items='[{"key":"one", "val": "Current", "disabled": true}, {"key":"two", "val": "Yesterday", "disabled": true}, {"key":"three", "val": "Last Month"}]'>
                </px-dropdown-content>
              </px-dropdown>
            </div>
          </div>
        </div>
        <div class="layout layout--center statistic-container">
          <div class="layout__item u-3/4">
            <div class="layout layout--center statistic-container">
              <div class="layout__item u-1/3">
                <div class="circle-container">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    viewBox="0 0 500 500">
                    <g>
                      <circle style="fill:#faa43a;stroke:#faa43a;stroke-width:8;stroke-miterlimit:10;" cx="250" cy="250" r="200">
                      </circle>
                      <text x="50%" y="55%" font-size="130" text-anchor="middle" fill="white" stroke="white" stroke-width="10px" dy=".1em">{{range.min}}</text>
                      <text x="50%" y="75%" font-size="70" text-anchor="middle" fill="white" dy=".1em">{{mode}}</text>
                    </g>
                  </svg>
                </div>
                <div style="text-align: center;">
                  <h4 style="margin-top: 0;">Min Consumption</h4>
                </div>
              </div>
              <div class="layout__item u-1/3">
                <div class="circle-container">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    viewBox="0 0 500 500">
                    <g>
                      <circle style="fill:#faa43a;stroke:#faa43a;stroke-width:8;stroke-miterlimit:10;" cx="250" cy="250" r="200">
                      </circle>
                      <text x="50%" y="55%" font-size="130" text-anchor="middle" fill="white" stroke="white" stroke-width="10px" dy=".1em">{{range.average}}</text>
                      <text x="50%" y="75%" font-size="70" text-anchor="middle" fill="white" dy=".1em">{{mode}}</text>
                    </g>
                  </svg>
                </div>
                <div style="text-align: center;">
                  <h4 style="margin-top: 0;">Average Consumption</h4>
                </div>
              </div>
              <div class="layout__item u-1/3">
                <div class="circle-container">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    viewBox="0 0 500 500">
                    <g>
                      <circle style="fill:#faa43a;stroke:#faa43a;stroke-width:8;stroke-miterlimit:10;" cx="250" cy="250" r="200">
                      </circle>
                      <text x="50%" y="55%" font-size="130" text-anchor="middle" fill="white" stroke="white" stroke-width="10px" dy=".1em">{{range.max}}</text>
                      <text x="50%" y="75%" font-size="70" text-anchor="middle" fill="white" dy=".1em">{{mode}}</text>
                    </g>
                  </svg>
                </div>
                <div style="text-align: center;">
                  <h4 style="margin-top: 0;">Max Consumption</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layout layout--center chart-container">
          <div class="layout__item u-2/3">
            <div id="chart"></div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <script>
    Polymer({

      is: 'dashboards-view',

      properties: {
        chart: {
          type: Object
        },

        data: {
          type: Object,
          value: {
            gas: {
              total: [],
              cost: []
            },
            electricity: {
              total: [],
              cost: []
            }
          }
        },
        mode: {
          type: String,
          value: '£'
        },
        range: {
          type: Object,
          value: {
            min: 0,
            max: 0,
            average: 0
          }
        }
      },

      _calculateDataRange: function(){
        var data = [];
        if (this.mode == 'kWh') {
          for (var i = 0; i < this.data.electricity.total.length; i++) {
            data.push(this.data.electricity.total[i][1] + this.data.gas.total[i][1]);
          }
        } else {
          for (var i = 0; i < this.data.electricity.cost.length; i++) {
            data.push(this.data.electricity.cost[i][1] + this.data.gas.cost[i][1]);
          }
        }

        var max = 0, sum = 0;
        var min = data[0];

        for (var i = 0; i < data.length; i++) {
          sum += data[i];
          if (data[i] > max) max = data[i];
          if (data[i] < min) min = data[i];
        }
        this.set('range.min', Math.round(min * 10) / 10);
        this.set('range.max', Math.round(max * 10) / 10);
        this.set('range.average', Math.round(sum * 10 / data.length) / 10);
      },

      _renderChart: function () {
        this._calculateDataRange();
        var _this = this;
        this.chart = new Highcharts.Chart({
          chart: {
            type: 'column',
            renderTo: 'chart'
          },
          title: {
            text: ''
          },
          subTitle: {
            text: ''
          },
          tooltip: {
            // headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
          },
          legend: {
            align: 'right',
            x: -30,
            verticalAlign: 'top',
            y: 25,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
          },
          rangeSelector: {
            enabled: false,
            allButtonsEnabled: false
          },
          credits: {
            enabled: false
          },
          exporting: {
            buttons: {
              contextButton: {
                enabled: false
              }
            }
          },
          xAxis: {
            type: 'datetime',
            // labels: {
            //   rotation: -45,
            //   style: {
            //     fontSize: '13px',
            //     fontFamily: 'Verdana, sans-serif'
            //   }
            // },
            labels: {
              rotation: -45,
              step: 1,
              formatter: function () {
                return Highcharts.dateFormat("%b %e", this.value);
              },
              // style: {
              //   fontSize: '13px',
              //   fontFamily: 'Verdana, sans-serif'
              // }
            }
          },
          yAxis: {
            min: 0,
            // max: 3,
            title: {
              text: 'Total consumption'
            },
            stackLabels: {
              enabled: false,
              style: {
                fontWeight: 'bold',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
              }
            }
          },
          navigator: {
            enabled: false
          },
          scrollbar: {
            enabled: false
          },
          plotOptions: {
            column: {
              stacking: 'normal',
              dataLabels: {
                enabled: true,
                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
              }
            }
          },
          series: [{
            name: 'Gas',
            data:  _this.mode == '£' ? _this.data.gas.cost : _this.data.gas.total,
            dataLabels: {
              enabled: false
            }
          }, {
            name: 'Electricity',
            data: _this.mode == '£' ? _this.data.electricity.cost : _this.data.electricity.total,
            dataLabels: {
              enabled: false
            }
          }]
        });
      },

      _paramGenerator: function (mode) {
        var param = {
          "tags": [{
              "name": "@38400000-8cf0-11bd-b23e-10b96e4ef00e:ELECTRICITY:Cost:Periodic",
              "order": "desc"
            },
            {
              "name": "@38400000-8cf0-11bd-b23e-10b96e4ef00e:ELECTRICITY:Total:Periodic",
              "order": "desc"
            },
            {
              "name": "@38400000-8cf0-11bd-b23e-10b96e4ef00e:GAS_ENERGY:Cost:Periodic",
              "order": "desc"
            },
            {
              "name": "@38400000-8cf0-11bd-b23e-10b96e4ef00e:GAS_ENERGY:Total:Periodic",
              "order": "desc"
            }
          ],
          "start": 0,
          "end": -1
        };
        switch (mode) {
          case 'lastMonth':
            {
              var lastmonth = this._getLastMonthRange(-1);
              param.start = 0;
              param.end = lastmonth.lastDay.getTime() - 1;
              
              break;
            }
          case 'thisMonth':
            {
              var thisMonth = this._getLastMonthRange(0);
              param.start = thisMonth.firstDay.getTime();
              param.end = new Date().getTime();
              break;
            }
        }
        return param;
      },

      _getLastMonthRange: function (month) {
        var date = new Date(),
          y = date.getFullYear(),
          m = date.getMonth();
        return {
          firstDay: new Date(y, m + parseInt(month), 1),
          lastDay: new Date(y, m + 1 + parseInt(month), 1)
        }
      },

      _handleData: function (res) {
        var tags = res.detail.response.tags;
        var data = {
          gas: {
            total: [],
            cost: []
          },
          electricity: {
            total: [],
            cost: []
          }
        };
        data.electricity.cost = this._calculateData('month', tags[0].results[0].values, 100000);
        data.electricity.total = this._calculateData('month', tags[1].results[0].values, 1000);
        data.gas.cost = this._calculateData('month', tags[2].results[0].values, 100000);
        data.gas.total = this._calculateData('month', tags[3].results[0].values, 1000);
        this.set('data', data);
        console.log(data);
        this._renderChart();
      },

      _calculateData: function (mode, data, unit) {
        switch (mode) {
          case 'month':
            {
              var range = this._getLastMonthRange(-1);
              range.lastDay = new Date(range.lastDay.getTime() - 1);
              var y = range.firstDay.getFullYear();
              var m = range.firstDay.getMonth();
              var output = [];
              output[0] = data.pop();
              for (var i = range.firstDay.getDate(); i <= range.lastDay.getDate(); i++) {
                var start = new Date(y, m, i, 0, 0, 0, 0).getTime();
                var end = new Date(y, m, i, 23, 59, 59, 999).getTime();
                var isOutOfRange = false;
                while (!isOutOfRange && data.length > 0) {
                  var point = data.pop();
                  if (point[0] < start || point[0] > end) {
                    isOutOfRange = true;
                  } else {
                    if (output[i]) {
                      output.splice(i, 1, point);
                    } else {
                      output[i] = point;
                    }
                  }
                }
              }
              var tmp = output.concat([]);
              console.log(tmp);
              for (var i = 1; i < tmp.length; i++) {
                output[i] = [tmp[i][0] - 32000000, Math.round((Math.abs(tmp[i][1] - tmp[i - 1][1]) / unit) * 100) /
                  100
                ];
              }
              output.shift();
              return output;
            }
        }
      },

      _switchMode: function() {
        if (this.mode == '£') {
          this.set('mode', 'kWh');
        } else {
          this.set('mode', '£');
        }
        this._renderChart();
      },

      _getToday: function(){
        return moment().format('LLLL');
      },

      _computeClass: function(type, mode){
        var output = '';
        if (type === 'cost') {
          output = 'fa fa-money';
          if (mode == '£') output = output + ' active';
          return output;
        } else {
          output = 'fa fa-tachometer';
          if (mode == 'kWh') output = output + ' active';
          return output;
        }
      }

    });

  </script>
</dom-module>
